.advantages-price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: linear-gradient(180deg, rgb(255, 237, 0), rgb(255, 255, 255) 62%);

  @media (min-width: 600px) {
    flex-grow: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 35px 20px 30px;

    @media (min-width: 768px) {
      padding: 45px 40px;
    }

    @media (min-width: 1028px) {
      padding: 60px 60px;
    }

    @media (min-width: 1200px) {
      padding: 60px 110px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 1;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 25px;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: calc(18 / 16);
    }

    @media (min-width: 1028px) {
      margin-bottom: 45px;
  }
  }
}
