.button {
    display: inline-block;
    max-width: 298px;
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(27 / 18);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #fcee21;
    color: #222221;
    cursor: pointer;
}