.description-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;

  &__item {
    position: relative;
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;


    img {
      @media (max-width: 600px) {
        width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 180px;
      z-index: 5;
      background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0.0001) 100%
      );
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 59px;
  }

  &__title {
    margin: 0;
    font-size: 21px;
    line-height: calc(25 / 21);
    text-align: center;
    text-transform: uppercase;
    text-align: center;
  }
}
