.header {
  min-width: 320px;
  width: 100%;
  padding-top: 31px;
  padding-bottom: 25px;

  @media (min-width: 1028px) {
    padding-top: 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 768px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: 1028px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (min-width: 1200px) {
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  &__button {
    margin-bottom: 34px;
  }

  .button {
    @media (min-width: 1028px) {
      display: none;
    }
  }
}
