.services-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;

    @media (min-width: 768px) {
      position: absolute;
      flex-direction: column;
      margin-bottom: 0;
      width: 30%;
    }

    @media (min-width: 800px) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;

      @media (min-width: 768px) {
        top: 30%;
        left: 12%;
      }

      @media (min-width: 1028px) {
        top: 30%;
        left: 14%;
      }

      @media (min-width: 1400px) {
        top: 24%;
        left: 19%;
      }
    }

    &:first-child {
      @media (min-width: 768px) {
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media (min-width: 1028px) {
        top: 15%;
      }

      @media (min-width: 1400px) {
        top: 10%;
      }
    }

    &:nth-child(2) {
      @media (min-width: 768px) {
        top: 30%;
        left: 61%;
      }

      @media (min-width: 1028px) {
        left: 58%;
      }

      @media (min-width: 1400px) {
        top: 26%;
        left: 53%;
      }
    }

    &:nth-child(3) {
      @media (min-width: 768px) {
        top: 60%;
        left: 58%;
      }

      @media (min-width: 1028px) {
        top: 62%;
        left: 54%;
      }

      @media (min-width: 1400px) {
        top: 62%;
        left: 49%;
      }
    }

    &:nth-child(4) {
      @media (min-width: 768px) {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media (min-width: 1028px) {
        top: 85%;
      }

      @media (min-width: 1400px) {
        top: 85%;
      }
    }

    &:nth-child(5) {
      @media (min-width: 768px) {
        top: 58%;
        left: 11%;
      }

      @media (min-width: 1028px) {
        top: 61%;
        left: 16%;
      }

      @media (min-width: 1400px) {
        top: 61%;
        left: 21%;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;

    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__content {
    flex-grow: 1;
    max-width: 200px;
    padding-left: 30px;

    @media (min-width: 768px) {
      padding-left: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14 / 12);
    text-align: left;

    @media (min-width: 768px) {
      font-size: 13px;
      line-height: calc(15 / 13);
      text-align: center;
    }

    @media (min-width: 1200px) {
      font-size: 15px;
      line-height: calc(17 / 15);
    }
  }
}
