.slide-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 40px 30px;
  }

  &__title {
    margin: 0;
    max-width: 250px;
    font-size: 21px;
    line-height: calc(25 / 21);
    text-align: center;
    text-transform: uppercase;
    text-align: center;
  }
}
