.trucks {
  min-width: 320px;
  background-color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 50px;
  }

  path {
    animation-name: active-path;
    animation-fill-mode: forwards;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    // stroke-dasharray: 100;
    stroke-dashoffset: 1490;
  }

  @keyframes active-path {
    to {
      stroke: greenyellow;
      stroke-dashoffset: 0;
    }
  }
}
